@media only screen and (min-width: 768px) {
    .header-landing{
        display: block;
        background-color: rgba(255,255,255,0);
        background-origin: content-box;
        background-size: cover;
        background-attachment: scroll;
        background-position: top center;
        background-repeat: no-repeat;
    }
    .container-landing{
        height: 100%;
        width: 960px;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }
    .count-content{
        padding: 5% 5% 0%;
    }
    .count-form{
        margin: 10% 1%;
    }
    .count-form input[type='text']{
        background-color: transparent;
        width: 90%;
        margin: 2% 6%;
        border: rgba(112,112,112,1) solid 1px;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        padding: 8px 5px;
        font-family: "Open Sans",sans-serif;
    }
    .count-form input[type='submit']{
        background-color: #FFEB3B;
        font-family: 'Open Sans';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #000000;
        font-weight: 700;
        line-height: 22px;
        border-radius: 2px;
        font-size: 14px;
        border: none;
        padding: 8px 5px;
        width: 100%;
        text-align: center;
        margin: 5% 2%;
    }
    .count-form input[type="submit"]:hover {
        background: #000;
        color: #FFEB3B;

    }
    .landing-count{

        margin: 5%;
        padding: 1% 5% 0% 0%;
        background: rgba(23, 23, 23, 1);
        border-radius: 5px;
    }
    .dem{
        margin-top: 5%;
    }
    .landing-count .text-landing{
        color: white;
        font-size: 25px;
        text-align: center;

    }
    .landing-count h4, h5{
        text-align: center;
    }

    .number-count{
        color: white;
        width: 121px !important;
        font-size: 25pt;
        font-weight: 700;
        border-radius: 8px;
        padding: 18% 20% 20% 20%;
    }
    .landing-offline{
        padding-bottom: 10%;
    }
    .landing-offline h3{

    }
    .landing-offline span{
        font-family: 'Montserrat', sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 49px;
        font-size: 35px;
        color: white;
    }
    .landing-dangky{

    }
    .count{
        width: 90px;
        height: 90px;

        /* border: red solid; */
        text-align: center;
        padding-top: 25px;
        border-radius: 10px;
        background: black;
    }
    .landing-dangky h3{
        color: #ffffff;
    }
    .landing-dangky .btn-dangky{
        border: #FFEB3B solid 2px;
        background-color: #FFEB3B;
        font-family: 'Open Sans';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #000000;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 2px;

    }
    .landing-infor{
        margin: 5% auto 1%;
        padding: 1% 3%;
        background-color: #FFEB3B;
        border-radius: 10px;
        font-size: 20px;
    }
    .landing-infor .right{
        width: 85%;
        float: right;
        border: none
    }
    .landing-infor .left{
        width: 10%;
        float: left;
        font-size: 40px;
    }

    /*
    lý do
    */

    .landing-lydo{
        background-color: white;
        padding: 5% 1%;
    }
    .landing-lydo h1{
        text-align: center;
    }
    .landing-lydo .lydo{text-align: center;

    }
    .item-lydo{
        margin-top: 5%;
    }
    .landing-lydo .lydo i{
        font-size: 30px;
    }
    /*
    khóa học
    */
    .landing-khoahoc{

    }
    .landing-khoahoc .khoahoc{
        height: 400px;
    }
    .landing-khoahoc .khoahoc h3{
        text-align: center;
    }
    .landing-khoahoc .khoahoc-left{
        height: 100%;
        width:50%;
        float: left;
    }
    .landing-khoahoc .khoahoc-right{
        height: 100%;
        width:50%;
        float: right;
    }
    .khoahoc-content{
        height: 100%;
        padding: 1% 10%;
        overflow: auto;
    }
    /*
    teacher
    */
    #teacher{
        background-color: #eeeeee;
        margin: 5% 0%;
    }
    #teacher h3{
        text-align: center;
    }
    .teacher-infor{
        background-color: white;
        text-align: center;

        margin: 0 auto;
    }
    #khoahoc-now{
        margin: 5% 1%;
    }
    .btn-trinhdo{
        border: green solid 2px;
        border-radius: 5px;
        color: black;
        padding: 1% 5%;
        font-size: 25px;
        margin: 3%;
    }
    .btn-trinhdo:hover{
        background-color: green;
        color: white;
    }

    #feedback{
        background-color: #eeeeee;
    }
    #feedback .landing-comment{
        margin: 5% 1%;
        width: 100%;
        /*height: 250px;*/
        overflow: auto;
    }
    #feedback .landing-comment .comment-content{
        border: green solid 1px;
        border-radius: 10px;
        padding: 1% 1%;
        width: 50%;
        margin: 1% auto;
    }

    .form-dk{
        padding: 1% 1%;
    }
    .form-dk input[type='text'], input[type='email'], textarea{
        width: 100%;
        margin: 2% 1%;
        padding: 1% 1%;
        border-radius: 5px;
        border: black solid 1px;
    }
    .form-dk input[type='submit']{
        margin: 1% auto;
        background-color: #54BD9B;
        color: white;
        padding: 1% 10%;
        border: none;
        border-radius: 15px;
    }
    .form-dk input[type='submit']:hover{
        background-color: white;
        border: #54BD9B solid 1px;
        color: #54BD9B;
        letter-spacing: 2px;
    }

}
@media only screen and (max-width: 768px) {

}