@font-face{
    font-family: Arial, Helvetica, sans-serif;
    src: url('../font/ARI.ttf');
}
*{
    font-family: Arial, Helvetica, sans-serif !important;
}
.header-landing{
    display: block;
    background-color: rgba(255,255,255,0);
    background-origin: content-box;
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
}
.container-landing{
    height: 100%;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.count-content{
    margin: 0 auto;
    /* width: 80%; */
}
.count-form{
    margin: 10% 1%;
}
.count-form input[type='text']{
    background-color: rgba(0,0,0,1);
    margin: 2% 1%;
    border: rgba(112,112,112,1) solid 1px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 5px;
    width: 100%;
    font-family: "Open Sans",sans-serif;
}
.count-form input[type='submit']{
    background-color: #FFEB3B;
    font-family: 'Open Sans';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    font-weight: 700;
    line-height: 22px;
    border-radius: 2px;
    font-size: 14px;
    border: none;
    padding: 8px 5px;
    text-align: center;
    margin: 5% 1%;
    width: 100%;
}
.count-form input[type="submit"]:hover {
    background: #000;
    color: #FFEB3B;

}
.landing-count{

    margin: 5%;
    padding: 1% 1% 5% 1%;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
}
.landing-count .text-landing{
    color: white;
    text-align: center;
    font-weight: bold;
}
.landing-count h4, h5{
    text-align: center;
}

.number-count{
    background-color: black;
    color: white;
    width: 121px !important;
    font-size: 20pt;
    border-radius: 8px;
    padding: 20% 20% 20% 20%;
}
.landing-offline{
padding-bottom: 10%;
}
.landing-offline h3{

}
.landing-offline span{
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 49px;
    font-size: 35px;
    color: white;
}
.landing-dangky{

}
.landing-dangky h3{
color: #ffffff;
}
.landing-dangky .btn-dangky{
    border: #FFEB3B solid 2px;
    background-color: #FFEB3B;
    font-family: 'Open Sans';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;

}
.landing-infor{
    margin: 5% auto 1%;
    padding: 1% 3%;
    background-color: #FFEB3B;
    border-radius: 10px;
    font-size: 20px;
}
.landing-infor .right{
    width: 85%;
    float: right;
    border: none
}
.landing-infor .left{
    width: 10%;
    float: left;
    font-size: 40px;
}

/*
lý do
*/

.landing-lydo{
    background-color: white;
    padding: 5% 1%;
}
.landing-lydo h1{
    text-align: center;
}
.landing-lydo .lydo{text-align: center;

}
.item-lydo{
    margin-top: 5%;
}
.landing-lydo .lydo i{
    font-size: 30px;
}
/*
khóa học
*/
.landing-khoahoc{

}
.landing-khoahoc .khoahoc{
    height: 400px;
}
.landing-khoahoc .khoahoc h3{
   text-align: center;
}
.landing-khoahoc .khoahoc-left{
    height: 100%;
    width:50%;
    float: left;
}
.landing-khoahoc .khoahoc-right{
    height: 100%;
    width:50%;
    float: right;
}
.khoahoc-content{
    height: 100%;
    padding: 1% 10%;
    overflow: auto;
}
/*
teacher
*/
#teacher{
    background-color: #eeeeee;
    margin: 5% 0%;
}
#teacher h3{
    text-align: center;
}
.teacher-infor{
    background-color: white;
    text-align: center;

    margin: 0 auto;
}
#khoahoc-now{
    margin: 5% 1%;
}
.btn-trinhdo{
    border: yellow solid 2px;
    border-radius: 5px;
    color: black;
    padding: 1% 5%;
    font-size: 25px;
    margin: 3%;
}
.btn-trinhdo:hover{
    background-color: yellow;
    color: white;
}

#feedback{
    background-color: #eeeeee;
}
#feedback .landing-comment{
    margin: 5% 1%;
    width: 100%;
    /*height: 250px;*/
    overflow: auto;
}
#feedback .landing-comment .comment-content{
    border: green solid 1px;
    border-radius: 10px;
    padding: 1% 1%;
    width: 50%;
    margin: 1% auto;
}

.form-dk{
    padding: 1% 1%;
}
.form-dk input[type='text'], input[type='email'], textarea{
  width: 100%;
    margin: 2% 1%;
    padding: 1% 1%;
    border-radius: 5px;
    border: black solid 1px;
}
.form-dk input[type='submit']{
    margin: 1% auto;
    background-color: #54BD9B;
    color: white;
    padding: 1% 10%;
    border: none;
    border-radius: 15px;
}
.form-dk input[type='submit']:hover{
    background-color: white;
    border: #54BD9B solid 1px;
    color: #54BD9B;
    letter-spacing: 2px;
}
.anh {
    order: 2;
}
.content {
    order: 1;
}
.box-khoa-hoc {
    background: #000000;
    padding: 10px;
    margin-bottom: 20px;
}
.danhgia {
    padding: 100px 0;
}
.section-7{
    background-image: url('../image/coment.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-size : cover ;
}
.back-ground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #fff;
}
.coment-box {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.9;
    margin: 5px;
}
.coment-member {
    border-top: 1px solid #ebd64f;
    padding-top: 10px;
    display: flex;
    /* justify-content: space-between; */
}
.comment-avt {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.comment-avt img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}
.coment-name {
    margin-left: 20px;
}
.star-check {
    color: yellow;
}
.ws_images {
    position: relative !important;
}
.title-silder {
    position: absolute;
    width: 100%;
    z-index: 999;
    height: 100%;
    top: 50%;
}
#lienhe {
    background: #ebd64f;
}
