.owl-theme .owl-nav {
    position: absolute!important;
    top: 40% !important;
    width: 100%;
    z-index: 999;
}
.owl-carousel .owl-nav .owl-prev{
    width: 50px;
    position: absolute;
    height: 50px;
    color: #d6d6d6;
    outline: none;
    border-radius: 100%;
    left: 0px;
    background-color: #fcfeff8c !important;
    border: 1px solid #dedede;
}
.owl-carousel .owl-nav .owl-next{
    width: 50px;
    position: absolute;
    height: 50px;
    color: #d6d6d6;
    outline: none;
    border-radius: 100%;
    background-color: #fcfeff8c !important;
    border: 1px solid #dedede;
    right: 0 !important;
}
.owl-prev span{
    font-size: 25px;
    color: #ebd64f;
}
.owl-next span{
    font-size: 25px;
    color: #ebd64f;
}
.owl-theme .owl-dots{
    position: absolute;
    left: 50%;
    bottom: 20px;
}
.section-banner {
    position: relative;
    top: -75px;
    max-height: 700px;
}
.silder-image {
    max-height: 700px;
}
.item {
    position: relative;
}
.banner-title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    flex-wrap: wrap;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}
.banner-title2 {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    flex-wrap: wrap;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}
.banner-title2 span {
    margin :0 2px ;
    transition: 0.5s;
    transition-delay: 2.5s;
    opacity: 1;
    margin-bottom: 0px;
    animation-name: roi;
    /* animation-iteration-count: infinite; */
}
.banner-title span {
    margin :0 2px ;
    transition: 0.5s;
    transition-delay: 2.5s;
    opacity: 1;
    margin-bottom: 0px;
    animation-name: roi;
    /* animation-iteration-count: infinite; */
}
.delay-1 {
    animation-name: show;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
}
.delay-2 {
    animation-name: show;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
}
.delay-3 {
    animation-name: show;
    animation-duration: 3s;
    /* animation-iteration-count: infinite; */
}
.delay-4 {
    animation-name: show;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */
}
.delay-4 {
    animation-name: show;
    animation-duration: 5s;
    /* animation-iteration-count: infinite; */
}
@keyframes roi{
    from{
        margin-bottom: 1000px;
    }
    to {
        margin-bottom: 0;
    }
}
@keyframes show{
    from{ opacity: 0 ;
            /* margin-top: 40px; */
    }
    to{ opacity: 1;
        /* margin-top: 0px;} */}
}
.footer-1{
    padding: 20px 0 30px 0;
    /* height: 200px; */
    background-color: #eed95382;
}
.footer-2{
    padding: 20px 0 30px 0;
    /* height: 200px; */
    background-color: #fcde3e;
}
.container-fluid{
    padding-left: 0 ;
    padding-right: 0;
}
.icon-lk {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
.icon-lk img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-dk input
{
    outline: none;
    border: 0.5px solid #12803e;
    padding: 0 10px;
    line-height: 40px;
    font-size: 13px;
    border-radius: 2px;
    float: left;
    width: 70%;
}
.form-dk form button {
    padding: 0;
    outline: none;
    border: none;
    font-size: 14px;
    color: #fff;
    transition: 0.3s all;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 0;
    margin-left: 20px;
}
.logo-footer img{
    width: 200px;
}
.link-lk{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.link-lk a {
    color: #1d2e62 ;
    margin-bottom: 10px;
}
.link-lk a:hover{

    margin-left:5px;
    transition: 1s;
    text-decoration: none;
}
.section-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 0;
    letter-spacing: 3px;
}
.section-1 {
    margin-top: -70px ;
    background: white;
    padding: 80px 0;
}
.process-bg {
    padding: 60px 0;
    position: relative;
}
.process-bg img{
    width: 100%;
}
.process {
    width: 160px;
    height: 160px;
    padding: 10px;
    border-radius: 100%;
    border: 1px dashed grey;
    position: absolute;
    background: #fff;
    text-align: center;
}
.prc-1 {
    top: 55px;
    left : 100px;
}
.prc-2 {
    top: 40px;
    left: 340px;
}
.prc-3 {
    top: 90px;
    left : 590px;
}
.prc-4 {
    top: 65px;
    left: 830px;
}
.process img{
    transition: 1s;
    /* position: relative; */
}
.process img:hover {
    transform: scale(1.6,1.6);
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    transition: 1s;
}
.process-content {
    position: relative;
    z-index: 99;
    text-transform: capitalize;
    color: #1d2e62 ;
    font-weight: bold;
    font-size: 13px;
}

.section-2{
    background-color: #fff;
}

.course-box {
    height: 250px;
    width: 100%;
    margin: 10px 0;
}
.course-box:hover .overlay{
    opacity: 0.9;
    transition: 1s;
    /* display: block; */
    visibility: visible;
}
.course-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    width: 100%;
    height: 100%;
    top: -100%;
    position: relative;
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: left;
    opacity: 0;
    /* display: none; */
    transition: 1s;
    visibility: hidden;

}
.course-title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    height: 100%;
}
.course-gia {
    padding: 4px 1px;
    width: 120px;
    text-align: center;
    background-color: #fcde3e;
    border-radius: 50px;
    color : #000;
    font-weight: bold;
    /* font-size: 10px; */
    margin-right: 10px;
    margin-bottom: 5px;
}
.view-more {
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px;
    border : 2px solid #fcde3e;
    color: #fff;
    max-width: 150px;
    bottom: 10px;
    /* position: absolute; */
    /* bottom: 20px; */
}
.view-more:hover{
    text-decoration: none;
    background: #fcde3e;
    color: #000;
}
.library-left {
    border-right: 1px dashed  gray;
}
.tree {
    width: 350px;
    position: relative;
    z-index: 99;
}
.tree-skill{
    position: relative;

}
.skill {
    max-width: 400px;
    height: 1px;
    position: relative;
    background: #000;
    right: -100px;
    z-index: 9;
}
.skill-2 {
    bottom: 100px;
}
.skill-3 {
    bottom: 200px;
}
.skill-4 {
    bottom: 300px;
}
.skill a{
    position: absolute;
    max-width: 200px;
    min-width: 200px;
    text-align: center;
    border-radius: 5px;
    /* height: 50px; */
    padding: 5px 30px;
    font-weight: bold;
    /* background-color: #ebd64f; */
    text-transform: capitalize;
    letter-spacing: 2px;
    right: 0;
    bottom: -5px;
}
.skill a:hover{

    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    transition: 1s;
}
.menu-right  {
    position: fixed;
    z-index: 99;
    right: 0px;
    top: 200px;
    transition: 1s;

}
.menu-right:hover {
    transition: 1s;
    width: 240px;
    text-decoration: none;
}
.menu-right:hover .right-icon-content{
    display: block;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    transition: 1s;
}
.right-icon-content{
    display: none;
}
.box-menu-right{
    width: 30px;
    height: 30px;
}
.right-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.right-icon {
    transition: 1s;
    padding: 10px;
    background-color: #fff;
    display: flex;
    background: #ebd64f;
    opacity: 0.9;
    margin-bottom: 1px;
    -webkit-transition: width 2s;
}
.section-11 {

    background-image: url('../image/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.work-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    font-size: 30px;
}
.work-shop span:nth-child(1){
    color: #ebd64f;
    margin-right: 10px;
}
.work-shop a {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px 20px;
    border : 2px solid #ebd64f;
    font-weight: 500;
}
.work-shop a:hover{
    background: #fff;
    color: #000;
    text-decoration: none;
}
.section-3{
    background-image: url('../image/bg2.jpg');
    background-size: cover;
}
.dk-online {
    float: right;
    margin-top: 20px;
    color: #000;
}
a:hover {
    text-decoration: none;
}
.section-4{
    background: #ebd64f;
}
.statistic {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.statistic i{
    color: black;
}
.statistic span {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.avatar-teacher {
    width: 100%;
    height: 250px;
    background: #f2f2ec;
    margin-bottom: 20px;
}
.avatar-teacher img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.teacher-name {
    font-size: 25px;
    margin-bottom: 10px;
}
.teacher-info {
    font-size: 14px;
    margin : 10px 0;
}
.teacher {
    border-bottom: 2px solid #ebd64f;
    padding-top: 10px;
}
.order-1 {
    text-align: right !important;
}
.title-blog {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    letter-spacing: 3px;
}
.time-blog {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.blog-img {
    max-width: 320px;
    min-width: 240px;
    height: 160px;
    border : 1px solid #dedede;
    border-radius: 5px;
}
.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.blog-content {
    display: flex;
    position: relative;
}
.blog-content span {
    margin-left: 20px;
}
.doctiep {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.section-6 {
    background: #f4f6f8;
}
.blog {
    padding: 10px 0;
}
.border-bottom {
    width: 100%;
    height: 1px;
    background: #000;
    margin-top: 5px;
}
.danhgia {
    padding: 100px 0;
}
.section-7{
    background-image: url('../image/bg3.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.coment-box {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.9;
    margin: 5px;
}
.coment-member {
    border-top: 1px solid #ebd64f;
    padding-top: 10px;
    display: flex;
    /* justify-content: space-between; */
}
.comment-avt {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.comment-avt img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}
.coment-name {
    margin-left: 20px;
}
.star-check {
    color: yellow;
}
.ws_images {
    position: relative !important;
}
.title-silder {
    position: absolute;
    width: 100%;
    z-index: 999;
    height: 100%;
    top: 50%;
}
.section-thuvien
 {
     background-image: url('../image/library.jpg');
     padding: 40px 0 60px 0;
     background-attachment: fixed;
 }
.library-box{
    height: 250px;
    width: 200px;
    padding: 10px;
    margin : 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    background: #f4f6f8;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.library-box:hover{
    transform: scale(1.3,1.3);
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    transition: 1s;
}
.library {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.border-bot {
    border-bottom: 1px solid #ebd64f;
}
.course-content span {
    margin : 10px 0;
}
.course-content h6{
    margin : 10px 0;
    letter-spacing: 2px;
    color: black;
}
.img-contact {
    width: 100%;
    padding: 50px 10px 10px 10px;
}
.lienhe {
    padding: 50px 10px;
    /* text-transform: capitalize; */
}
.library-img {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../image/Library_img.jpg');
    background-size: cover;
}
.blog-page-img {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../image/sach.jpg');
    background-size: cover;
}
.book-library {
    position: relative;
    margin-bottom: 50px;
}
.img-book {
    width: 10%;
    position: relative;
}
.img-book img {
    width: 320px;
    height: 400px;
    position: relative;
    z-index: 9;
    /* box-shadow: 5px 5px 10px 5px #363674; */
    border: 1px solid #b6c9dc;

}
.content-book {
    width: 90%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    background: #fff;
    height: 100%;
    padding: 3rem;
    /* box-shadow: 5px 5px 10px 5px #363674; */

}
.content-content-book {
    float: right;
    text-align: left;
    max-width: calc(100% - 280px);
    color: #000;
}
.book-button {
    margin-top: 30px;
    float: right;
}
.img-blog {
    width: 100%;
}
.img-blog  img{
    width: 100%;
}
.section-contact {
    background-image: url('../image/contact.jpg');
    background-size: cover;
}
.box-contact {
    padding: 40px 10px;
    position: relative;
    max-height: 900px;
    min-height: 500px;
    margin: 20px;
}
.contact-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: #fff;
    top: 0;
    left : 0;
    border-radius: 5px;
    color: #1d2e62;
    padding: 13px;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}
.contact-overlay span {
    margin-bottom: 5px;
}
/* .contact-overlay span::before{
    content: "-" ;
} */
.diachi {
    font-weight: 600;
}
